//optifleet.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.0fd400e2-df38-4070-af57-c0bd3a53e873/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@tutorial-todo-aip-app:registry=https://optifleet.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.0fd400e2-df38-4070-af57-c0bd3a53e873/contents/release/npm/
